.contenido {
  margin: 0px 15%;
}

.presentacion {
  text-align: center;

  h1 {
    font-weight: bold;
    font-size: 35px;

    .titulo {
      font-weight: bolder;
      color: var(--ion-color-tertiary);
    }

    .barra {
      color: var(--ion-color-danger);
    }
  }

  p {
    font-size: 20px;

    .usuario {
      font-weight: bold;
      color: var(--ion-color-tertiary);
    }
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
  }

  /* Estilos para centrar la lista completa */
  ul {
    font-size: 20px;
    text-align: center;
    /* Centrar el texto dentro de la lista */
    list-style-position: inside;
    /* Mover el marcador al interior del contenedor de la lista */
  }

}

.requisitos {
  text-align: center;

  img {
    width: 100px;
    height: 100px;
  }

  ion-col h3 a {
    color: var(--ion-color-tertiary);
    text-decoration: none;
    font-weight: bold;
  }

  ion-col h3 a:hover {
    color: var(--ion-color-primary);
    transition: 0.5s;
  }
}

/* Estilos específicos para dispositivos móviles (ejemplo: pantalla menor a 768px de ancho) */
@media (max-width: 768px) {

  .contenido {
    margin: 0px 5%;
  }

}